<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <!-- 몇번째 게시글 id-->
    <h1 id="post-id-o"><%=id%></h1>
    <!-- 제목 title-->
    <h2 id="post-name-o"><%=title%></h2>
    <!-- 태그 tagN -->
    <h3 id="post-tagN-o">공격적</h3>
    <!-- 이미지 imSr -->
    <h4 id="post-imSr-o"><img style="height:100%" src="<%=imgSrc%>" alt="error" /></h4>
    <!-- 내용 text -->
    <h5 id="post-text-o"><%=text%></h5>

  </body>
</html>
<!-- /user/?id=1 -->