body {
  margin: 0;
  background-color: #ebeef1;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
  margin: auto;
}

.z-1 {
  position: relative;
  z-index: 1;
}

.board {
  position: relative;
}

.board .body {
  display: flex;
  gap: 1rem;
}

.board .body .list-box {
  flex: 1;
}

.board .body .list-box .write {
  background-color: white;
  padding: 1rem;
}

.board .body .list-box .write > * {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
}

.board .body .list-box .write > :last-child {
  margin-bottom: 0;
}

.board .body .list-box .write select,
.board .body .list-box .write input {
  padding: 0.5rem;
  border: 1px solid #c5cbd0;
}

.board .body .list-box .write input {
  width: 100%;
}

.ck-editor__editable {
  min-height: 30rem;
}

.board .body .list-box .btns {
  display: flex;
  justify-content: space-between;
}

.board .body .list-box .btns button {
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.board .body .list-box .btns .cancle {
  background-color: white;
  border: 1px solid #c5cbd0;
  color: #7b858e;
}

.board .body .list-box .btns .cancle {
  background-color: #46cfa7;
  border: none;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .container {
    max-width: 1050px;
  }

  .right-bar {
    display: none;
  }
}
