<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= roomId %> 채팅방</title>
  </head>
  <body>

    <input type="text" name="talk" id="talk">
    <button id="sendBtn">서버로 보내기</button>

    <div id="chats"></div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
      // console.log()

      const socket = io.connect(location.href, {
        path: '/socket.io'
      }); // chat 네임스페이스

      document.getElementById("sendBtn").onclick = () => {
        const talk = document.getElementById("talk");
        socket.emit("chatReply", talk.value);
        talk.value = null;
      };

      socket.on("chat", (data) => {
        document.getElementById("chats").innerHTML += `<div>${data}</div>`;
      });
    </script>


  </body>
</html>