<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>GIF 채팅방</title>
  </head>
  <body>

    <input type="text" name="talk" id="talk">
    <button id="sendBtn">서버로 보내기</button>

    <div id="chats"></div>


    <!-- 익스프레스 서버와 소켓 서버가 연결이 되면, 소켓IO 서버에서 js파일을 넣어준다 -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="./index.js">

    </script>
  </body>
</html>