<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>room 채팅방</title>
  </head>
  <body>

    <input type="text" name="talk" id="talk">
    <button id="sendBtn">서버로 보내기</button>

    <div id="chats"></div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io.connect('http://localhost:8080/room', { // room 네임스페이스
        path: '/socket.io'
      });

      socket.on('room', (data) => {
        console.log("room", data);
      });
    </script>
  </body>
</html>